// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// AntD
@import '~antd/dist/antd.css';

header {
  h1 {
    color: #FFF;
  }
}

.movie-list {
    padding: 20px;

    .movie-card {
        margin-bottom: 10px;
    }
}
